@keyframes slideUp {
  0% {
    transform: translateY(12px);
  }
  10% {
    transform: translateY(10px);
  }
  20% {
    transform: translateY(8px);
  }
  30% {
    transform: translateY(6px);
  }
  40% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(-2px);
  }
  70% {
    transform: translateY(-4px);
  }
  80% {
    transform: translateY(-6px);
  }
  90% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(-10px);
  }
}