// color.scss

$white: #fff;
$black: #000;
$blue: #245c9f;
$blue-a: rgba(36, 92, 159, 1);
$blue-n: rgba(36, 92, 159, 0);
$dgray: #727171;
$lgray: #e5e5e5;

$bar-color: #008cd6;
$ball-color: #00b7ed;

$sblue: #eff5fc;
$syellow: #fef9e8;
$sgreen: #ebf6f5;
$spink: #fdf2f8;

$border-gray: #b4b5b5;